.gradient-container {
  width: 100vw;
  background: linear-gradient(-45deg, #00ddff, #87efff, #ffffff, #87efff, #00ddff);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.gradient-container1 {
  /* width: 100vw; */
  background: linear-gradient(-45deg, #00ddff, #87efff, #ffffff, #87efff, #00ddff);
  /* background-size: 400% 400%; */
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



.bricolage-font {
  font-family: "Bricolage Grotesque";
}

